.container_modulebox{
    width: 72%;
    height: 100%;
    background:white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    box-shadow: 1px 1px 4px gray;
    
    
}