.module_line_container{
    width: 90%;
    height: 35px;
    background:white;
    color:gray;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    box-shadow: 1px 1px 4px gray;
}

.module_line_container:hover{
    opacity: 0.6;
}
