
.container_home{
   
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 50px;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background: rgb(240, 239, 239);

    
    
    
}
